:root {
  --default-height:35px;
  
  /* prefered light mode */
  --base-color-light:black;
  --base-color-light-white:white;
  --base-color-light-gray:rgb(215, 227, 230);
}

*{
  margin: 0;
  padding: 0;
}
/* Reusable */
.thin-bar{
  width: 50%;
  height: 1px;
  background-color: black;
  margin: auto 5px;
}
/* Utils */
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.full-width{
  width: 100%;
}
.svg-default-size{
  width: 15px;
}
.bold{
  font-weight: bold;
}
/* Buttons */
.btn-white-bg{
  height: var(--default-height);
  border:solid 1px var(--base-color-light-gray);
  border-radius: 30px;
  background-color: var(--base-color-light-white);
  transition: .5s;
}
.btn-white-bg:hover{
  background-color: var(--base-color-light-gray);
}
.btn-black-bg{
  height: var(--default-height);
  border:solid 1px var(--base-color-light-gray);
  border-radius: 30px;
  background-color: var(--base-color-light);
  color: var(--base-color-light-white);
  transition: .5s;
}
.btn-black-bg:hover{
  background-color: rgb(32, 32, 32);
}
