@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --default-height:35px;
  --blue:#1DA1F2;
  --black:#000000;
  --light-black:#14171A;
  --white:#ffffff;
  --dark-gray:#657786;
  --light-gray:#AAB8C2;
  --extra-light-gray:#E1E8ED;
  --extra-extra-light-gray:#F5F8FA;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
/* Reusable */
.thin-bar{
  width: 50%;
  height: 1px;
  background-color: black;
  margin: auto 5px;
}
/* Utils */
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.full-width{
  width: 100%;
}
.svg-default-size{
  width: 15px;
}
.align-center{
  display:flex;
  align-items:center;
}
.bold{
  font-weight: bold;
}
.semibold{
  font-weight: 500;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  max-height: 100vh;
}
.screen-height{
  height:100vh;
}
@media only screen and (max-width: 1440px){
  .container{
    min-width: 100vw;
  }
}
/* Buttons */
.btn-white-bg{
  height: var(--default-height);
  border:solid 1px var(--extra-light-gray);
  border-radius: 30px;
  background-color: var(--white);
  transition: .5s;
}
.btn-white-bg:hover{
  background-color: var(--extra-extra-light-gray);
}
.btn-black-bg{
  height: var(--default-height);
  border:solid 1px var(--light-gray);
  border-radius: 30px;
  background-color: var(--black);
  color: var(--white);
  transition: .5s;
}
.btn-black-bg:hover{
  background-color: var(--light-black);
}
.btn-blue{
  height: var(--default-height);
  color: var(--white);
  font-weight: bold;
  border:solid 1px var(--extra-light-gray);
  border-radius: 30px;
  background-color: var(--blue);
  transition: .5s;
}
.btn-blue:hover{
  background-color: var(--blue);
}